pip
pandas
numpy
pysimplegui
matplotlib
financetoolkit
scipy
xlsxwriter
pyparsing
requests
datareader
nasdaq-data-link
#pyfolio
seaborn
Qauntlib-Python
yfinance
#statsmodel
#beautifulsoup4
jupyter
openpyxl
scipy
pyarrow
numpy_financial
sensitivity
googlefinance
pyfinance
pdfplumber
finstmt